<div fxFlex="100" class="container">
    <div class="title">Select range from below for specific period </div>
    <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-around center" class="selections-div">
        <label class="label-padding">From : </label>
        <select name="fromPeriod" id="fromPeriod" [(ngModel)]="fromMonth" class="selection"
            (change)="fromPeriodChange($event)">
            <option *ngFor="let period of fromPeriods" [value]="period">{{period}}</option>
        </select>

        <label class="label-padding"> To: </label>

        <select name="toPeriod" id="toPeriod" [(ngModel)]="toMonth" class="selection" (change)="toPeriodChange($event)">
            <option *ngFor="let period of toPeriods" [value]="period">{{period}}</option>
        </select>

        <button (click)="analyzeData(false)" mat-raised-button class="analyze-button">Analyze</button>

        <button (click)="analyzeData(true)" mat-raised-button class="analyze-button">Test Data
            View</button>

        <button (click)="analyzeData(false)" mat-raised-button class="analyze-button">Provided Data
            View</button>
    </div>

    <div *ngIf="userInfo.length > 0" class="container selections-div">
        <label class="user-info">{{userInfo}}</label>
    </div>

    <div fxLayout="column">
        <div id="container"></div>
        <h3>For filtering the chart click on labels(<span style="color: #212954;">2020 Actual</span>, <span
                style="color: #8592d4;">2019 Actual</span>, <span style="color: pink;">2020
                Budgeted</span>, <span style="color: #8592d4;">YTD 2020</span>, Etc..) under the
            charts </h3>
    </div>
</div>